<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>
    
    <session-factory name="java:/hibernate/HibernateFactory">
        
        <property name="show_sql">true</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost/SQLTest</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">root123</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
   
        <mapping resource="Customer.hbm.xml" />
        
    </session-factory>
    
</hibernate-configuration>
